/* src/App.css */
.App {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .products {
    display: flex;
    gap: 20px;
  }
  
  .product {
    border: 1px solid #433f3f;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
  }
  
  button {
    background-color: #62615e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d2b967;
  }
  
  .cart {
    margin-top: 20px;
  }